@model EquationModel
@using Marsad.Models.Controls
<style>
    .eq_btn {
        display: block;
        text-align: center;
        width: 100%;
        /* background: #191313; */
        /* color: white; */
        font-size: 15px;
        height: 30px;
        min-width: 45px;
    }

    .calc, calc tr, calc tr td {
        margin: 0px !important;
        padding: 0px !important;
    }
    #equation_text{
        direction:ltr;
    }
</style>
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <table class="calc">
            <tr>
                <td><button id="divide" type="button" class="eq_btn">÷</button></td>
                <td><button id="sign" type="button" class="eq_btn"><sub>+</sub>/<sup>-</sup></button></td>
                <td><button id="start_brace" type="button" class="eq_btn">(</button></td>
                <td><button id="end_brace" type="button" class="eq_btn">)</button></td>
                <td><button id="pow" type="button" class="eq_btn">x<sup>y</sup></button></td>
                <td><button id="pow2" type="button" class="eq_btn">x<sup>2</sup></button></td>
                <td><button id="pow3" type="button" class="eq_btn">x<sup>3</sup></button></td>
            </tr>
            <tr>


                <td><button id="mult" type="button" class="eq_btn">x</button></td>
                <td><button id="b9" type="button" class="eq_btn">9</button></td>
                <td><button id="b8" type="button" class="eq_btn">8</button></td>
                <td><button id="b7" type="button" class="eq_btn">7</button></td>
                <td><button id="exp" type="button" class="eq_btn">e<sup>x</sup></button></td>
                <td><button id="logx" type="button" class="eq_btn">log<sub>x</sub></button></td>
                <td><button id="log10" type="button" class="eq_btn">log<sub>10</sub></button></td>
            </tr>
            <tr>
                <td><button id="minus" type="button" class="eq_btn">-</button></td>
                <td><button id="b6" type="button" class="eq_btn">6</button></td>
                <td><button id="b5" type="button" class="eq_btn">5</button></td>
                <td><button id="b4" type="button" class="eq_btn">4</button></td>
                <td><button id="tenpow" type="button" class="eq_btn">10<sup>x</sup></button></td>
                <td><button id="e" type="button" class="eq_btn">e</button></td>
                <td><button id="pi" type="button" class="eq_btn">&pi;</button></td>
            </tr>
            <tr>
                <td><button id="plus" type="button" class="eq_btn">+</button></td>
                <td><button id="b3" type="button" class="eq_btn">3</button></td>
                <td><button id="b2" type="button" class="eq_btn">2</button></td>
                <td><button id="b1" type="button" class="eq_btn">1</button></td>
                <td><button id="tan" type="button" class="eq_btn">tan</button></td>
                <td><button id="cos" type="button" class="eq_btn">cos</button></td>
                <td><button id="sin" type="button" class="eq_btn">sin</button></td>

            </tr>
            <tr>
                <td><button id="dot" type="button" class="eq_btn">.</button></td>
                <td colspan="3"><button id="b0" type="button" class="eq_btn">0</button></td>
                <td><button id="rad" type="button" class="eq_btn">RAD</button></td>
                <td><button id="rand" type="button" class="eq_btn">RND</button></td>
                <td><button id="sqrt" type="button" class="eq_btn">SQRT</button></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <table>
            <tr>
                <td><button id="back" type="button" class="eq_btn"><</button></td>
                <td><button id="next" type="button" class="eq_btn">></button></td>
                <td><button id="previous" type="button" class="eq_btn">تراجع</button></td>
            </tr>
        </table>
        <textarea name="EquationText" class="form-control" id="equation_text" rows="8"></textarea>
    </div>
</div>


<script type="text/javascript" defer>

    function addItem(str, index = 0) {        
        $('#equation_text').val($('#equation_text').val() + str);
        $('#equation_text').selectionStart = $('#equation_text').selectionEnd = $('#equation_text').val().length - str.length + index;
    }
    function toogleItem(str) {
        var val = $('#equation_text').val();
        var found = false;
        for (var i = val.length - 1; i >= 0; i--) {
            if (val[i] == str) {
                found = true;
                val = val.substr(0, i);
                break;
            }
            else if (val[i] != ' ') {
                break;
            }
            if (!found) {
                val = val + str;
            }

        }
        $('#equation_text').val(val);
    }

    $(document).ready(function () {
        $('#divide').click(function () { addItem("/"); });
        $('#sign').click(function () { toogleItem("-") });
        $('#start_brace').click(function () { addItem(")") });
        $('#end_brace').click(function () { addItem("(") });
        $('#pow').click(function () { addItem("POW(,)", 4) });
        $('#pow2').click(function () { addItem("POW(,2)", 4) });
        $('#pow3').click(function () { addItem("POW(,3)", 4) });
        $('#mult').click(function () { addItem("*") });
        $('#b9').click(function () { addItem("9") });
        $('#b8').click(function () { addItem("8") });
        $('#b7').click(function () { addItem("7") });
        $('#exp').click(function () { addItem("EXP()", 4) });
        $('#logx').click(function () { addItem("LOG(,)", 4) });
        $('#log10').click(function () { addItem("LOG(,10)", 4) });
        $('#minus').click(function () { addItem("-") });
        $('#b6').click(function () { addItem("6") });
        $('#b5').click(function () { addItem("5") });
        $('#b4').click(function () { addItem("4") });
        $('#tenpow').click(function () { addItem("POW(10,)", 6) });
        $('#e').click(function () { addItem("EXP(1)") });
        $('#pi').click(function () { addItem("PI") });
        $('#plus').click(function () { addItem("+") });
        $('#b3').click(function () { addItem("3") });
        $('#b2').click(function () { addItem("2") });
        $('#b1').click(function () { addItem("1") });
        $('#tan').click(function () { addItem("tan()", 4) });
        $('#cos').click(function () { addItem("cos()", 4) });
        $('#sin').click(function () { addItem("sin()", 4) });
        $('#dot').click(function () { toogleItem(".") });
        $('#b0').click(function () { addItem("0") });
        $('#rad').click(function () { addItem("RAD(,)", 4) });
        $('#rand').click(function () { addItem("RAND()") });
        $('#sqrt').click(function () { addItem("sqrt()", 5) });
    });
</script>
