@model Marsad.Models.Indicator
@{
    Layout = "";
}
<div class="form-group" style="margin-top:10px;">
    <label class="control-label col-sm-2 col-xs-12">الفترة الزمنية</label>
    <div class="col-sm-8 col-xs-12">
        <table id="yearsContent">
            <tr>
                <td width="100">سنة</td>
                <td width="200">
                    <select class="form-control year" name="year">
                        @foreach (var ey in ViewBag.EquationYears)
                        {
                            <option value="@ey.Year">@ey.Year</option>
                        }
                    </select>
                </td>
                <td><button class="btn btn-sm btn-success" id="add-year">+</button></td>
            </tr>
        </table>
    </div>
    <div class="col-sm-2 col-xs-12">
        <button class="btn btn-primary" id="show-report">عرض</button>
        <button class="btn btn-success" id="export">تصدير</button>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#add-year').click(function () {
            var tr = $('#yearsContent tr:first').html();
            tr = tr.replace('<button class="btn btn-sm btn-success" id="add-year">+</button>', '<button class="btn btn-sm btn-danger del-year">X</button>');
            $('#yearsContent').append('<tr>' + tr + '<tr />');
            $('.del-year').click(function () {
                $(this).parent().parent().remove();
            });
        });
    })
    $('#show-report').click(function () {
        showReport();
    });
</script>