/* arabic */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: local('Cairo'), local('Cairo-Regular'), url(fonts/SLXGc1nY6HkvalIkTpu0xg.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: local('Cairo'), local('Cairo-Regular'), url(fonts/SLXGc1nY6HkvalIvTpu0xg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: local('Cairo'), local('Cairo-Regular'), url(fonts/SLXGc1nY6HkvalIhTps.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    direction: rtl;
    font-family: "Cairo"
}

body {
    background-image: url('../Images/dammam.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h2 {
    background: #5c5c5c;
    margin: 0px;
    color: #eeeeee;
    text-align: center;
    padding: 5px;
    font-size: 17px;
}

.bundles {
    display: block;
    list-style: none;
    margin: 10px;
    padding: 0px;
}

    .bundles li {
        margin: 0px;
        display: block;
        padding: 5px;
    }

        .bundles li::after {
            content: '>';
            float: left;
            font-size: 20px;
            font-weight: 900;
            color: #7d7d7d;
        }

a {
    text-decoration: none;
    font-weight: bold;
    color: #4a4a4a;
    font-size: 20px;
}


.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 7px;
    border-radius: 5px;
    background: #0a0a0a;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

.slidecontainer {
    text-align: center;
    margin-top: 10px;
}

#showBtn {
    display: block;
    text-align: center;
    background: #5c5c5c;
    color: #eeeeee;
    width: 90%;
    margin: auto;
    padding: 10px;
}

#currentYear {
    width: 100%;
    padding: 10px;
    background: #5c5c5c;
    color: #eeeeee;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.indicatorTable tbody {
    display: block;
    width: 100%
}

.indicatorTable {
    padding: 0px 10px;
    /* width: 100%; */
    font-size: 15px;
    /* font-weight: bold; */
    color: #434343;
    display: block;
}

    .indicatorTable .head {
        font-weight: bold;
        /* text-align:center; */
        background: rgba(92, 92, 92, 0.82) !important;
        color: white;
    }

    .indicatorTable .head, .indicatorTable .row {
        border-radius: 6px;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.4);
        margin: 10px 0px;
        padding: 10px;
        display: block;
        /* width: 100%; */
        background: rgba(249, 254, 227, 0.7);
        font-weight: bold;
    }

        .indicatorTable .head:after, .indicatorTable .row:after {
            content: " ";
            display: block;
            clear: both;
        }

    .indicatorTable .cell {
        display: block;
        float: right;
        padding: 0px;
    }

#keywords-container {
    /* width: 100%; */
    /* padding: 10px; */
}

#keywords {
    display: block;
    /* float: left; */
    padding: 5px;
    margin: 11px auto;
    width: 90%;
    font-family: Cairo;
    border-radius: 5px;
    border: none;
    outline: unset;
}
