@model Marsad.Models.DataSourceType

@{
    ViewBag.Title = "بيانات نوع مصدر بيانات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div>

                <h4>بيانات نوع مصدر بيانات</h4>
                <hr />
                <dl class="dl-horizontal">
                 

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("تعديل", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("الرئيسية", "Index", null, new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
</div>
